html,
body {
  overflow-x: hidden !important;
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.btn-main {
  border: $border-2-black !important;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: $btn-main-bg;
  color: $btn-main-color;

  //@include .trans;

  &:hover {
    background-color: $btn-main-bg-hover;
    color: $btn-main-color-hover;
  }
}

.bold {
  font-weight: 700;
} 

.content-main {
  margin: 80px 0;
}

// .marker {
//   background-image: url("mapbox-icon.png");
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
// }

.square-image {
  width: 100%;
  background-color: $gray;

  &:after{
    content: "";
    display: block;
    padding-bottom: 60%;
  }
}

.description{
  font-size: 1.2rem;
}

.bg-gradient-degrade{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, $purple-dark, rgba(131,58,180,1) 0%, $purple-light, $purple-super-light); 
  width: 100%;
  height: 2px;  
}

.gallery {
	
	// Flexbox Default/Fallback - does not produce 100% matching result 
	display: flex;
	flex-wrap: wrap;
	
	// Use Grid if browser supports it
	display: grid;
	grid-gap: 0.2rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: minmax(20vh, 200px);
  // play with values here:
	// grid-auto-rows: minmax(0, 1fr);
  // grid-auto-rows: minmax(0, 1fr);
  //	grid-auto-flow: dense;
	
	// flexbox fallback	
	&__item {		
		flex: 0 0 auto;
		flex-wrap: wrap;
		height: 20vh;
		margin: .12rem;
		width: 20rem;
		min-width: 15rem;
    transition: ease-in-out 250ms;

    &:hover{
      cursor: pointer;
      opacity: .7;
    }

		@supports ( display: grid ) {
			//unset the propertied used for flexbox fallback
			height: initial;
			margin: unset;
			width: initial;
			min-width: initial;
			
			&:nth-of-type(2n + 2) {
				grid-row: span 2;
			}
		}


    &__link{
      width: auto;
      height: 100vh;
      display: block;
    }
	}
}

.content-section{
  margin-top: 80px;
  margin-bottom: 80px;
}

.link-email{
  color: $brand-primary;
  overflow-wrap: break-word; 
  
  &:hover{
    text-decoration: none !important;
    opacity: 0.7;
  }
}

.grid-movies{
  // @mixin bg( $count ) {
  //     $path: '//s3-us-west-2.amazonaws.com/s.cdpn.io/150150/bug';
  //     $ext: '.jpg';
  //     @for $i from 1 through $count {
  //      $fullpath: #{$path}-#{$i}#{$ext};
  //         li:nth-of-type(#{$i}) {
  //           background-image: url($fullpath); 
  //       }    
  //   }
  // }
  
  // @include bg(18);
  
  ul, li {
      list-style: none;
      padding-left: 0;		
  }
  
  li {
      align-items: stretch;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex: 1 0 100%;
      flex-direction: column;
      justify-content: flex-end;
      line-height: 3;
      overflow: hidden;
  
       
      &:hover,
      &:focus {
          .🐜-title {
              background-color: hsla(220, 90%, 15%, 1);
              height: auto;
              padding-top: 1rem;
              padding-bottom: 1rem;
              transform: translateY(0);
          }
      }
  }
  
  .🐜-title {
      display: none;
      background-color: hsla(220, 90%, 15%, .5);
      color: #fff;
      font-size: 0.8rem;
      line-height: 1.5;
      margin: 0;
      padding: 0.25rem 0.5rem;
      transform: translateY(100px);
      transition: padding .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out;
  }
}

.card-button{
  background-color: transparent;
  border: none;

  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}