@charset "UTF-8";
/* --- new colors --- */
.color-white {
  color: #ffffff;
}

.title-section {
  font-size: 3.5rem;
  text-transform: uppercase;
  position: relative;
}

.title-sub {
  margin-top: -20px;
  font-size: 2.2rem;
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.btn-main {
  border: 2px solid #000000 !important;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
}

.btn-main:hover {
  background-color: #000000;
  color: #ffffff;
}

.bold {
  font-weight: 700;
}

.content-main {
  margin: 80px 0;
}

.square-image {
  width: 100%;
  background-color: #e5e5e5;
}

.square-image:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}

.description {
  font-size: 1.2rem;
}

.bg-gradient-degrade {
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#242336), color-stop(0%, #833ab4), color-stop(#9ea2f2), to(#A1ADEB));
  background: linear-gradient(90deg, #242336, #833ab4 0%, #9ea2f2, #A1ADEB);
  width: 100%;
  height: 2px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.2rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(20vh, 200px);
}

.gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20vh;
  margin: .12rem;
  width: 20rem;
  min-width: 15rem;
  -webkit-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
}

.gallery__item:hover {
  cursor: pointer;
  opacity: .7;
}

@supports (display: grid) {
  .gallery__item {
    height: initial;
    margin: unset;
    width: initial;
    min-width: initial;
  }
  .gallery__item:nth-of-type(2n + 2) {
    grid-row: span 2;
  }
}

.gallery__item__link {
  width: auto;
  height: 100vh;
  display: block;
}

.content-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.link-email {
  color: #212D6C;
  overflow-wrap: break-word;
}

.link-email:hover {
  text-decoration: none !important;
  opacity: 0.7;
}

.grid-movies ul, .grid-movies li {
  list-style: none;
  padding-left: 0;
}

.grid-movies li {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 3;
  overflow: hidden;
}

.grid-movies li:hover .🐜-title, .grid-movies li:focus .🐜-title {
  background-color: #041b49;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.grid-movies .🐜-title {
  display: none;
  background-color: rgba(4, 27, 73, 0.5);
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.25rem 0.5rem;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: padding .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.card-button {
  background-color: transparent;
  border: none;
}

.card-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu-main {
  padding: 30px 0;
}

.menu-main--dark {
  background-color: #435bd8;
}

.menu-main--dark .button_container span {
  background-color: #ffffff;
}

.button_container {
  position: relative;
  top: 10px;
  right: 0;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  float: right;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #ffffff;
}

.button_container.active .middle {
  opacity: 0;
  background: #ffffff;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #ffffff;
}

.button_container span {
  background: #435bd8;
  border: none;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #435bd8;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 99;
}

.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 50%;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #ffffff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.navbar-brand {
  position: relative;
  z-index: 9;
}

.navbar-brand__image path {
  fill: orange;
  background-color: #fff;
}

.social-icons {
  padding-bottom: 50px;
}

.social-icons__item {
  margin: 0 20px;
}

.social-icons__link {
  font-size: 3rem;
  font-size: 40px;
  font-size: 2.5rem;
  -webkit-transition: color 0.7s ease;
  transition: color 0.7s ease;
  color: #000000 !important;
}

.social-icons__link:hover {
  opacity: 0.7;
}

.social-icons .fa-facebook-f {
  font-size: 2rem;
  position: relative;
  top: -4px;
}

.social-icons .fa-mobile-alt {
  font-size: 2.1rem;
  top: -4px;
  position: relative;
}

footer {
  padding: 50px 0 10px;
}

.banner-main {
  background-color: #e5e5e5;
  height: 60vh;
  position: relative;
}

.banner-main .banner-main__image {
  bottom: 0;
  position: relative;
  height: 100%;
  margin: 0 auto;
  display: block;
  width: auto;
}

.map-responsive {
  width: 100%;
  height: 60vh;
}

.card-perfil__img {
  width: 12rem;
  height: 12rem;
}

.card-perfil .social-icons i {
  font-size: 1.3rem;
  color: #212D6C;
}

.card-perfil .social-icons i.fa-facebook-f {
  top: -2px;
}

.card-perfil .social-icons__item {
  margin: 0 10px;
}
/*# sourceMappingURL=desterro.css.map */